@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


/* ///////ESTILO GERAL \\\\\\*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inter, sans-serif;
}

body{
    background-color: #000;
    height: 100vh;
}

/* //////////////////////slide///////////////////// */

.servicos {
    text-align: center;
    padding: 10px 6%;
    max-width: 1800px;
    margin: auto;
    margin-top: 50px;
    
}
.servicos h2{
    margin: 50px 0;
   padding: 20px 10px;
   color: #fff;
}

.servicos button{
    padding: 12px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #00b9db;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s;
    margin-top: 50px;

 }

 .servicos button:hover{
    transform: scale(1.06);
    box-shadow: 0 0 12px #00b9db;
 }

.swiper {
    width: 100%;
    padding: 20px 0;
    height: 400px;


}

.swiper-slide {
    display: flex;
    flex-direction: column;
    background: transparent;
    padding: 30px;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 5px #fff;
    font-size: 18px;
    font-weight: bold;
    transition: .3s;
    
   
    
}

.swiper-slide:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px #ffffff78;
}

.swiper-slide h3{
font-size: 20px;
padding: 15px 0;
color: #fff;
}

.swiper-slide p{
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    text-align: justify;

        }

        .swiper-slide i{
            font-size: 60px;
            color: #00b9db;
        
                }

               
                .swiper-pagination-bullet{
                    background-color: #fff;
                }






/* //////////////////////slide///////////////////// */



.interface {
    max-width: 1600px;
    margin: 0 200px; 
}

.flex {
    display: flex;
}

.btn-contato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #00b9db;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s;
}

h2.titulo {
    color: #fff;
    font-size: 38px;
    text-align: center;
}

h2.titulo span {
    color: #00b9db;
}


button:hover,
form .btn-enviar input:hover {
    box-shadow: 0px 0px 8px #00b9db;
    transform: scale(1.05);
}

/* /////// ESTILO CABEÇALHO \\\\\\*/
header{
    padding: 5px 2%;
    box-shadow: 0 5px 15px #00badb80;
    height: 100px;
    width: 100%;
    z-index: 10;
    transition: 1s;
    
}
header.rolagem{
    position: fixed;
    width: 100%;
    z-index: 10;
    background-color: #000000af;

}




header .logo{
    width: 150px;
    height: 100px;
    object-fit: cover;
}
header .logo a img{
    width: 160px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

header .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}
header a{
    color: #ffffffbd;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}
header nav.menu-desktop a:hover {
    color: #fff;
    transform: scale(1.2);
    text-decoration: underline;
}

header nav ul {
    list-style-type: none;
}

header nav.menu-desktop ul li {
    display: inline-block;
    padding: 0 40px;
}

/* ESTILO DO MENU MOBILE */

.btn-abrir-menu{
    display: none;
}

.btn-abrir-menu i{
    color: #00b9db;
    font-size: 40px;
}

.menu-mobile{
    background-color: #000;
    height: 100vh;
    position: fixed;
    top: 100px;
    right: 0;
    z-index: 99999;
    width: 0%;
    overflow: hidden;
    transition: .5s;
}

.menu-mobile.abrir-menu{
    width: 50%;
}

.menu-mobile.abrir-menu ~ .overlay-menu{
    display: block;
}


.menu-mobile .btn-fechar{
    padding: 20px 5%;
}

.menu-mobile .btn-fechar i{
    color: #00b9db;
    font-size: 30px;
}

.menu-mobile nav ul{
    text-align: right;
}

.menu-mobile nav ul li a{
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    padding: 20px 8%;
    display: block;
}   

.menu-mobile nav ul li a:hover{
    background-color: #00b9db;
    color: #000;
}

.overlay-menu{
    background-color: #000000df;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 100px;
    left: 0;
    z-index: 88888;
    display: none;
}



/* ESTILO DO TOPO DO SITE */

section.topo-do-site {
    padding: 40px 10%;
    text-align: center;
    justify-content: center;
}
section.topo-do-site .interface {
   display: flex;
   justify-content: center;
   text-align: center;
}
section.topo-do-site.flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}
.topo-do-site h1{
    color: #fff;
    font-size: 42px;
}
.topo-do-site h1 span{
    color: #00b9db;
}
.topo-do-site .txt-topo-site p {
    width: 80%;
    color: #fff;
    text-align: justify;
    font-size: 18px;
    padding: 40px 4%;

}
.topo-do-site .txt-topo-site{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.topo-do-site .img-topo-site img {
position:relative;
width: 400px;
height: 400px;
object-fit: cover;
border-radius: 50%;
animation: flutuar 2s ease-in-out infinite alternate;
box-shadow: 0 0 30px 5px #00b9db;
}


@keyframes flutuar {
    0%{
        top: 0;
    }
    100%{
        top:10px;
    }
   
}


/* ESTILO DAS ESPECIALIDADES */
section.especialidades {
    padding: 40px 4%;
    transition: 2s;
}

section.especialidades .flex {
    gap: 60px;
}

.especialidades .especialidades-box {
    color: #fff;
    padding: 40px;
    border-radius: 20px;
    margin-top: 45px;
    transition: .2s;
}

.especialidades .especialidades-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px #ffffff78;
}

.especialidades .especialidades-box i {
    font-size: 70px;
    color: #00b9db;
}

.especialidades .especialidades-box h3 {
    font-size: 28px;
    margin: 15px 0;
}

 /* SOBRE */
 section.sobre {
    padding: 80px 4%;
}

section.sobre .flex {
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre {
    color: #fff;
}

.sobre .txt-sobre h2 {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span {
    color: #00b9db;
    display: block;
}

.sobre .txt-sobre p {
    margin: 20px 0;
    text-align: justify;
}

.btn-social button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #00b9db;
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
}

/* ESTILO DO PORTFÓLIO */
section.portfolio {
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px #ffffff1d;
    overflow-x: auto;
    white-space: nowrap;
    overflow-x: auto;
}

section.portfolio .flex {
    justify-content: space-around;
    margin-top: 60px;
    width: 100%;
    gap: 20px;
    
   
}

.img-port {
    width: 400px;
    height: 460px;
    background-size: cover;
    background-position: 100% 0%;
    transition: 8s;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
    white-space: nowrap;
}


.img-port:hover {
    background-position: 100% 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000b8;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    opacity: 1;
    transition: .5s;
}
.overlay:hover {
    opacity: 0;
}

/* ESTILO DO FORMULÁRIO DE CONTATO */
section.formulario {
    padding: 80px 4%;
}

form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}

form input,
form textarea {
    width: 100%;
    background-color: #242424;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: #fff;
    font-size: 18px;
}

form textarea {
    resize: none;
    max-height: 200px;
}

form .btn-enviar {
    margin-top: 20px;
    text-align: center;
}

form .btn-enviar input {
    width: 120px;
    background-color: #00b9db;
    color: #000;
    font-weight: 700;
    cursor: pointer;
    transition: .2s;
}

/* ESTILO DO RODAPÉ */

footer {
    padding: 40px 4%;
    box-shadow: 0 0 40px 10px #ffffff1d;
}

footer .flex {
    justify-content: space-between;
    align-items: center;
}

footer .line-footer {
    padding: 20px 0;
}

.borda {
    border-top: 2px solid #00b9db;
}

footer .line-footer p i {
    color: #00b9db;
    font-size: 22px;
}

footer .line-footer p a {
    color: #fff;
}
.signature {
    font-size: 14px;
    font-style: italic;
    color: #ccc;
  }
  .signature span{
    color: #00b9db;
  }
  .logo-footer img{
    width: 250px;
    height: 250px;
}

 


  @media screen and (max-width: 768px) {

    .swiper {
        width: 90%;
        position: relative;
       margin: auto;
    }

   
    
    .btn-abrir-menu span{
    
        width: 35px;
        height: 5px;
        background-color: #00b9db;
        border-radius: 8px;
        transition: transform 0.8s ease-in-out, opacity 0.8s ease-in-out;
        transform-origin: center;
    }

    .btn-abrir-menu.active span:nth-child(1){
        transform: translateY(10px) rotate(360deg) rotate(45deg);
    }
    .btn-abrir-menu.active span:nth-child(2){
        opacity: 0;
    }
    .btn-abrir-menu.active span:nth-child(3){
        transform: translateY(-10px) rotate(-360deg) rotate(-45deg);
    }




    /* /////// ESTILO CABEÇALHO \\\\\\*/

    header{
        padding: 0 4%;
        height: 100px;
    }

    .menu-desktop,
    .btn-contato {
        display: none;
    }
    .interface{
        margin: 0;
    }
    .interface .logo img{
        width: 150px;
        height: 100px;
        object-fit: cover;

    }
    header .interface{
        padding: 0 2%;
    }

    .btn-abrir-menu{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }


    .flex {
        display: flex;
        flex-direction: column;
    }
    .topo-do-site .flex{
        flex-direction: column-reverse;
    }

    h2.titulo {
        font-size: 20px;
        line-height: 30px;
    }
    h1 {
        font-size: 20px;
        line-height: 30px;
    }

     /* /////// ESTILO TOPO DO SITE\\\\\\*/
     section.topo-do-site .flex {
        gap: 40px;
    }

    section.topo-do-site {
        padding: 20px 1%;
    }

    section.topo-do-site .txt-topo-site p {
        padding: 20px 0;
    }

    .topo-do-site h1 {
        font-size: 20px;
    }
    .topo-do-site .img-topo-site img {
        width: 300px;
        height: 300px;
        box-shadow: 0 0 12px #00b9db;
    }
     /* ESPECIALIDADES */
     section.especiliadades {
        padding: 40px 8%;
    }
    
    section.sobre {
        padding: 80px 8%;
    }

    .sobre .txt-sobre h2 {
        font-size: 20px;
        line-height: 35px;
        text-align: center;
    }
    
    .btn-social{
        text-align: center;
    }

    .img-sobre img{
        width: 100%;
    }

    /* PORTFÓLIO */
    section.portfolio {
        padding: 80px 8%;
    }

    .img-port {
        width: 100%;
        height: 200px;
        max-width: 360px;
        margin: 0 auto;
    }
    
    section.portfolio .flex {
       gap: 60px;
    }

    /* RODAPÉ */
    footer .flex {
        flex-direction: column;
        gap: 30px;
    }

    footer .line-footer {
        text-align: center;
    }
    .logo-footer img{
        width: 200px;
        height: 200px;
    }






  }



